{{define "css"}}
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/login.css" />
{{end}}

{{define "content"}}
    <div class="login-container">
        <div class="login-form">
            <div class="login-header">
                <h1 class="login-title">About Us</h1>
                <p class="login-subtitle">
                    Dit project is gemaakt door: Boudewijn, Lieuwe, Robin, Quinten
                </p>
                <p class="login-subtitle">
                    De bronnen die wij hebben gebruikt voor dit project:
                </p>
                <a href="https://go.dev/doc/">Goland docs</a>
                <br>
                <a href="https://pkg.go.dev/html/template">Goland template docs</a>
                <br>
                <a href="https://www.w3schools.com/">W3 schools docs</a>
                <br>
                <a href="https://chatgpt.com/">Chatgpt for questions</a>
            </div>

        </div>
    </div>
{{end}}