<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}} - Chicken Racing</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
<header>
    <h1>{{.Title}}</h1>
    <p>Add new races!!!</p>
</header>

<main>
    <h2>Race Information</h2>
    <p>Race Name and Details:</p>
    <ul>
        {{range .Races}}
            <li>
                <strong>{{.Name}}</strong> - Winner: {{.Winner}} - Date: {{.Date}}<br>
                Chickens:
                <ul>
                    {{range .ChickenNames}}
                        <li>{{.}}</li>
                    {{end}}
                </ul>
            </li>
        {{end}}
    </ul>

    <h2>Add a New Race:</h2>
    <form action="/add-race" method="POST">
        <label for="name">Race Name:</label><br>
        <input type="text" id="name" name="name" required><br>

        <label for="winner">Winner:</label><br>
        <input type="text" id="winner" name="winner" required><br>

        <label for="chicken_names">Chicken Names (comma-separated):</label><br>
        <input type="text" id="chicken_names" name="chicken_names"><br><br>

        <input type="submit" value="Add Race">
    </form>
</main>

<footer>
</footer>
</body>
</html>
