<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{{.Title}} - Chicken Racing</title>

    {{template "css" .}}
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>
<body>
<header class="header">
    <div class="header-content">
        <h1 class="logo">
            <img src="/static/images/logo.png" alt="Scramble Logo">
            <span>{{.Title}}</span>
        </h1>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/races">Races</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about-us">About us</a></li>
                <li><a href="/login">Login</a></li>
                <li class="balance-card">🪙 {{.UserBalance}}</li>
            </ul>
        </nav>
    </div>
</header>

<main class="main">
    {{template "content" .}}
</main>

<footer class="border-t border-gray-800 bg-gray-950 py-10 text-center text-gray-400">
    <div class="container mx-auto px-4">
        <p>© 2025 Scramble Run. All rights reserved. Bet responsibly!</p>
        <p class="mt-2 text-sm">This is a fictional game for entertainment purposes only.</p>
    </div>
</footer>
</body>
</html>
{{define "css"}}
    <style>
        .container {
            width: 100%;
            max-width: 1400px;
            margin: 0 auto;
            padding: 0 2rem;
        }

        .balance-card {
            justify-content: right;
            margin-right: 0px;
        }
        .border-t { border-top-width: 1px; }
        .border-gray-800 { border-color: #1f2937; }
        .bg-gray-950 { background-color: #030712; }
        .py-10 { padding-top: 2.5rem; padding-bottom: 2.5rem; }
        .text-center { text-align: center; }
        .text-gray-400 { color: #9ca3af; }
        .mx-auto { margin-left: auto; margin-right: auto; }
        .px-4 { padding-left: 1rem; padding-right: 1rem; }


    </style>
{{end}}